body{
    display: flex;
}
input {
    width: 93px;
    height: 20px;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
    border-color: darkviolet;
    background-color: rgb(182, 145, 255);
    font-weight: bold;
    width: 56px;
    height: 30px;
    margin-bottom: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.calculos button {
    font-weight: bold;
    width: 116px;
    height: 30px;
    margin-bottom: 5px;
}

.redondeos button {
    font-weight: bold;
    width: 75px;
    height: 30px;
    margin-bottom: 5px;
}

#resultado {
    width: 213px;
    height: 20px;
    font-size: 15px;
}

.base {
    border: 3px;
    color: black;
    border-style: solid;
    width: 305px;
    height: 365px;
    padding: 5px;
    background-color: hotpink;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#clear{
    width: 26px;
    height: 25px;
    font-size: 15px;
}
